-i https://cae-artifactory.jpl.nasa.gov/artifactory/api/pypi/pypi-develop-virtual/simple
aerie_cli @ git+https://github.com/NASA-AMMOS/aerie-cli.git
black==22.8.0
bs4==0.0.2
click==8.0.4
dataclasses-json
eas-parasol>=8.0.0
eas-rounds>=8.0.0
eurc-fspa-close-the-u==3.1.1
eurc-fspa-dplib==8.2.2
jpl_time
lxml==5.1.0
m20-operational-cloud-store==9.1.0
pandas
pytest==7.0.0
XlsxWriter
xmltodict==0.13.0